<nav class="navbar navbar-dark bg-dark navbar-expand-md">
  <a class="navbar-brand" routerLink="/inicio">
    <i class="fa fa-industry"></i>
    &nbsp;<i>Pymes</i>
  </a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
    (click)="toggleNavbar()"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div
    class="collapse navbar-collapse"
    id="navbarSupportedContent divBody"
    [ngClass]="{ show: navbarOpen }"
  >
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/inicio"
          >Inicio <span class="sr-only">(current)</span></a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/articulos" title="Gestionar Articulos"
          >Artículos</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          routerLink="/articulosfamilias"
          title="Listado Articulos Familia"
          >ArticulosFamilias</a
        >
      </li>
      <li class="nav-item dropdown">
        <a
          class="nav-link"
          routerLink="/inicio"
          id="navbarDropdown"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          Informes
        </a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/inicio">Acerca de</a>
      </li>
    </ul>

    <ul class="navbar-nav"></ul>
  </div>
</nav>
